.cards_container {
  height: 77%;
  width: 98%;
  position: absolute;
  margin: 0 0 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  overflow: auto;
    display: flex;
  flex-direction: row;
  background: linear-gradient(
    180deg,
    rgba(1, 1, 1, 0.296) 10%,
    rgba(84, 84, 84, 0.296) 50%,
    rgba(0, 0, 0, 0.296) 100%
  );
  backdrop-filter: blur(5px);
 
    animation: fadeIn 1s ease forwards;

  border-radius: 20px;

}

.page_div {
  height: 9%;
  width: 95%;
  margin: 0 0 0 10px;
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 0 30px 0 30px;
  border-radius: 10px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.741) 10%,
      rgba(0, 0, 0, 0.741) 50%,
      rgba(0, 0, 0, 0.741) 100%
    );
    animation: fadeIn 1s ease forwards;
 
}

.page_button{
  background-color: #f3f7fe;
  color: #003662;
  border: none;
  border-radius: 8px;
  width: 6%;
  height: 80%;
  transition: .3s;
  font-family: "Rubik";
  cursor: pointer;
  font-size: 25px;
  align-items: center;
  margin: 15px;
}

.page_button:hover {
  background-color:#fafafa;
  box-shadow: 0 0 0 4px #d7d7d75f;
}

.page_button:hover:active {
  box-shadow: none;
  transform: translate(2px, 2px);
  color: #000000;;
  background-color:#fafafa;
  box-shadow: 0 0 7px 7px #d7d7d717;
}

.page_button:disabled {
  background: #d38900;
  color: #242424d3;
  cursor: not-allowed;
  box-shadow: none;
}

.cards_div {
  height: 87%;
  width: 98%;
  margin: 0 0 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  overflow: auto;
    display: flex;
  flex-direction: row;


 
    animation: fadeIn 1s ease forwards;

  border-radius: 20px;

}

