.navbar_container {
  height: 180px;
  width: 100%;
}

.nav_container {
  height: 80px;
  width: 100%;
  background: linear-gradient(
    120deg,
    rgba(0, 36, 54, 0.92) 10%,
    rgba(1, 75, 54, 0.92) 50%,
    rgba(0, 36, 54, 0.92) 100%
  );
  border-top: 1vmin solid #f7a204;
  border-bottom: 1vmin solid #f7a204;
  box-shadow: 0px 10px 10px 10px rgba(57, 57, 57, 0.438);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.nav_profile {
  width: 400px;
  height: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#Link {
  height: 95%;
  width: 100px;
}

.a1 {
  height: 95%;
  width: 90px;
  border-radius: 10px;
  background-image: url(./img/av_01.png);
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.991);
  border: none;
  cursor: pointer;
}
.a2 {
  height: 95%;
  width: 90px;
  border-radius: 10px;
  background-image: url(./img/av_02.png);
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.991);
  border: none;
  cursor: pointer;
}
.a3 {
  height: 95%;
  width: 90px;
  border-radius: 10px;
  background-image: url(./img/av_03.png);
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.991);
  border: none;
  cursor: pointer;
}
.a4 {
  height: 95%;
  width: 90px;
  border-radius: 10px;
  background-image: url(./img/av_04.png);
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.991);
  border: none;
  cursor: pointer;
}

.a5 {
  height: 95%;
  width: 90px;
  border-radius: 10px;
  background-image: url(./img/av_05.png);
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.991);
  border: none;
  cursor: pointer;
}
.a6 {
  height: 95%;
  width: 90px;
  border-radius: 10px;
  background-image: url(./img/av_06.png);
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.991);
  border: none;
  cursor: pointer;
}

.nav_profile button:active {
  transform: translate(1px, 1px);
}

.pic_profile {
  height: 90%;
  width: 90px;
  border-radius: 10px;
  background-image: url(./img/av_06.png);
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.991);
}

.username {
  height: 90%;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav_logo {
  width: 300px;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Cabin Sketch", sans-serif;
  color: #0b0b0b;
  text-shadow: 2px 2px #ffffff;
}

.nav_search {
  width: 500px;
  height: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav_search input {
  width: 60%;
  height: 45px;
  line-height: 30px;
  padding-left: 1.5rem;
  border: 2px solid transparent;
  border-radius: 10px;
  outline: none;
  background-color: #ffffff9f;
  color: #0d0c22;
  transition: 0.5s ease;
  padding-right: 10px;
  font-size: 20px;
}

.nav_search input::placeholder {
  color: #5e5e9a;
  font-size: 20px;
}

.nav_search:focus,
input:hover {
  outline: none;
  border-color: #e87f2b;
  background-color: #fff;
  box-shadow: 0 0 0 5px rgba(180, 188, 255, 0.403);
}

.nav_search span {
  font-size: 60px;
  margin: 0 0 0 20px;
  font-weight: 900;
  cursor: pointer;
  color: #ffffff;
}

.nav_search span:hover {
  color: #f7a207;
}

.nav_search span:active {
  transform: translate(2px, 2px);
  color: #f7a207;
}

.nav_buttons {
  width: 450px;
  height: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.filter_button {
  background-color: #f3f7fe;
  color: #003662;
  border: none;
  border-radius: 8px;
  width: 150px;
  height: 50px;
  transition: 0.3s;
  font-family: "Rubik";
  cursor: pointer;
  font-size: 25px;
}

.filter_button:hover {
  background-color: #fafafa;
  box-shadow: 0 0 0 4px #d7d7d75f;
}

.filter_button:active {
  box-shadow: none;
  transform: translate(2px, 2px);
  color: #000000;
  background-color: #fafafa;
  box-shadow: 0 0 0 7px #d7d7d75f;
}

.create_button {
  background-color: #f3f7fe;
  color: #003662;
  border: none;
  border-radius: 8px;
  width: 150px;
  height: 50px;
  transition: 0.3s;
  font-family: "Rubik";
  cursor: pointer;
  font-size: 25px;
}

.create_button:hover {
  background-color: #fafafa;
  box-shadow: 0 0 0 4px #d7d7d75f;
}

.create_button:active {
  box-shadow: none;
  transform: translate(2px, 2px);
  color: #000000;
  background-color: #fafafa;
  box-shadow: 0 0 0 7px #d7d7d75f;
}

.nav_logout {
  width: 200px;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav_logout button {
  background-color: #f3f7fe;
  color: #003662;
  border: none;
  border-radius: 8px;
  width: 150px;
  height: 50px;
  transition: 0.3s;
  font-family: "Rubik";
  cursor: pointer;
  font-size: 25px;
}

.nav_logout button:hover:hover {
  background-color: #d63838e0;
  color: white;
  box-shadow: 0 0 0 4px #d7d7d75f;
}

.nav_logout button:hover:active {
  box-shadow: none;
  transform: translate(2px, 2px);
  color: #000000;
  background-color: #fafafa;
  box-shadow: 0 0 0 7px #d7d7d75f;
}

.link {
  text-decoration: none;
}

.filter_container {
  width: 95%;
  height: 60px;
  margin: 0 0 0 10px;
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px;
  padding: 0 30px 0 30px;
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.741) 10%,
    rgba(0, 0, 0, 0.741) 50%,
    rgba(0, 0, 0, 0.741) 100%
  );
}

.button_filter {
  background-color: #f3f7fe;
  color: #000000;
  border: none;
  border-radius: 8px;
  width: 170px;
  height: 40px;
  transition: 0.3s;
  font-family: "Rubik";
  cursor: pointer;
  font-size: 20px;
  margin: 0 5px 0 5px;
}

.button_filter:hover {
  background-color: #fafafa;
  box-shadow: 0 0 0 4px #d7d7d75f;
}

.button_filter:active {
  box-shadow: none;
  transform: translate(2px, 2px);
  color: #000000;
  background-color: #fafafa;
  box-shadow: 0 0 0 6px #d7d7d75f;
}

.rating_form label {
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0.247);
  border-radius: 40px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-shadow: 1.5px 1.5px #000000;
}

select {
  width: 190px;
  height: 40px;
  line-height: 30px;
  padding-left: 1.5rem;
  border: 2px solid transparent;
  border-radius: 10px;
  outline: none;
  background-color: #ffffff9f;
  color: #0d0c22;
  transition: 0.5s ease;
  padding-right: 10px;
  font-size: 20px;
  font-family: "Rubik";
}

select:hover {
  outline: none;
  border-color: rgb(57, 59, 166);
  background-color: #fff;
  box-shadow: 0 0 0 5px rgba(180, 188, 255, 0.403);
}

.button_all {
  background-color: #f3f7fe;
  color: #000000;
  border: none;
  border-radius: 8px;
  width: 100px;
  height: 40px;
  transition: 0.3s;
  font-family: "Rubik";
  cursor: pointer;
  font-size: 25px;
}

.button_all:hover {
  background-color: #fafafa;
  box-shadow: 0 0 0 4px #d7d7d75f;
}

.button_all:active {
  box-shadow: none;
  transform: translate(2px, 2px);
  color: #000000;
  background-color: #fafafa;
  box-shadow: 0 0 0 6px #d7d7d75f;
}
